.App {
  text-align: center;
}

.message{
  resize: none;
  height: 200px;
  width: 70%;
}

.count{
  display: flex;
  justify-content: space-around;
  font-size: x-large;
  font-weight: bold;
}

.counter{
 background-color: #1f4690;
 color: white;
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 10px;
 padding-bottom: 10px;
 border-radius: 10px;
}